#municipalities path {
  fill: green;
  stroke: black;
  stroke-width: 0.5px;
}

#lakes path {
  fill: deepskyblue;
}

#tg-map {
  padding-left: 15vmax;
  max-width: 80%;
}

#municipalities path:hover{
  fill:rgb(195, 156, 60);
}

@use "@material/tooltip/styles";

.rainbow{
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}
.rainbow-bg{
  animation: rainbow-bg 2.5s linear;
  animation-iteration-count: infinite;
}
.rainbow-kanton{
  animation: rainbow-kanton 2.5s linear;
  animation-iteration-count: infinite;
}


@keyframes rainbow-bg{
  100%,0%{
      background-color: rgb(255,0,0);
  }
  8%{
      background-color: rgb(255,127,0);
  }
  16%{
      background-color: rgb(255,255,0);
  }
  25%{
      background-color: rgb(127,255,0);
  }
  33%{
      background-color: rgb(0,255,0);
  }
  41%{
      background-color: rgb(0,255,127);
  }
  50%{
      background-color: rgb(0,255,255);
  }
  58%{
      background-color: rgb(0,127,255);
  }
  66%{
      background-color: rgb(0,0,255);
  }
  75%{
      background-color: rgb(127,0,255);
  }
  83%{
      background-color: rgb(255,0,255);
  }
  91%{
      background-color: rgb(255,0,127);
  }
}

@keyframes rainbow-kanton{
  100%,0%{
      fill: rgb(255,0,0);
  }
  8%{
      fill: rgb(255,127,0);
  }
  16%{
    fill: rgb(255,255,0);
  }
  25%{
    fill: rgb(127,255,0);
  }
  33%{
    fill: rgb(0,255,0);
  }
  41%{
    fill: rgb(0,255,127);
  }
  50%{
    fill: rgb(0,255,255);
  }
  58%{
    fill: rgb(0,127,255);
  }
  66%{
    fill: rgb(0,0,255);
  }
  75%{
    fill: rgb(127,0,255);
  }
  83%{
    fill: rgb(255,0,255);
  }
  91%{
    fill: rgb(255,0,127);
  }
}
@keyframes rainbow{
  100%,0%{
      color: rgb(255,0,0);
  }
  8%{
      color: rgb(255,127,0);
  }
  16%{
      color: rgb(255,255,0);
  }
  25%{
      color: rgb(127,255,0);
  }
  33%{
      color: rgb(0,255,0);
  }
  41%{
      color: rgb(0,255,127);
  }
  50%{
      color: rgb(0,255,255);
  }
  58%{
      color: rgb(0,127,255);
  }
  66%{
      color: rgb(0,0,255);
  }
  75%{
      color: rgb(127,0,255);
  }
  83%{
      color: rgb(255,0,255);
  }
  91%{
      color: rgb(255,0,127);
  }
}